.login-register-page {
  margin-top: 30px;
  padding-bottom: 100px;

  h4 {
    display: inline-block;
    margin: 0 30px;
    padding-bottom: 20px;
  }

  p.input-label {
    @include bold;

    font-size: 18px;
    line-height: 22px;

    margin-top: 30px;
    margin-bottom: 20px;
  }

  h5 {
    margin: 50px 0;
  }

  .button {
    @include bold();
    font-size: 18px;
    letter-spacing: 1px;
  }
}
