.basket-page {
  margin: 0 0 70px;

  h1 {
    margin-bottom: 30px;
  }

  img {
    width: 70%;
  }

  .row {

    &.item {
      padding: 30px 0;
      border-bottom: 1px solid #CCC;
    }
  }

  .description {

    p {
      font-family: PT Sans Caption;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .name {
    @include bold();
    font-size: 14px;
  }

  .designer {
    @include thin();
    font-size: 14px;
    letter-spacing: 1px;
  }

  .price {
    font-family: PT Sans Caption;
    font-size: 24px;
    font-weight: bold;

    .old {
      font-size: 18px;
      opacity: .21;

      display: block;
      position: relative;

      top: 8px;
    }
  }

  p.remove {
    margin-top: 17px;
    font-size: 20px;

    font-size: 10px;
  }

}
