.designer-page {
  margin: 30px 0 70px;

  h1 {
    margin-bottom: 30px;
  }

  .description {

    p {
      font-family: PT Sans Caption;
      font-size: 16px;
      line-height: 23px;

      width: 80%;
    }

    a {
      font-family: PT Sans Caption;
      font-size: 16px;
      line-height: 23px;
      font-weight: bold;

      top: 20px;
      position: relative;
    }
  }
}
