.item-card-page {
  margin: 30px 0 70px;
  
  h1 {
    @include bold();
    font-size: 40px;
    letter-spacing: 3px;
  }

  h3 {
    @include thin();
    font-size: 24px;
    letter-spacing: 4px;

    opacity: .3;

    margin-bottom: 40px;
  }

  .thumbs {
    
    img {
      padding: 5px 10px;
      border-radius: 2px;

      border: 1px solid #FFF;

      &.active {
        border: 1px solid #CCC;
      }
    }
  }

  .photo {
    // 
  }

  .description {

    p {
      font-family: PT Sans Caption;
      font-size: 16px;
      line-height: 23px;
    }

    p.hint {
      font-size: 12px;
      line-height: 14px;

      margin-top: 20px;
      opacity: .5;
    }

    .price {
      font-family: PT Sans Caption;
      font-size: 36px;
      font-weight: bold;

      margin-bottom: 20px;

      .old {
        font-size: 24px;
        opacity: .21;

        display: inline-block;
        position: relative;

        top: -13px;
        left: 20px;
      }
    }
  }
}
