.journal-page {
  border-bottom: 1px solid #CCC;

  padding-bottom: 50px;
  margin-bottom: 40px;

  img {
    width: 100%;
  }

  h4 {
    margin-top: 40px;
  }

  p {
    font-family: PT Sans Caption;
  }

  a.read-more {
    @include bold();
    font-size: 14px;
  }

  .gallery .image-preview {
    overflow: hidden;

    @media (#{$phone}) {
      height: 300px;
    }
    @media (#{$tablet}) {
      height: 300px;
    }
    @media (#{$desktop}) {
      height: 450px;
    }
    @media (#{$large-desktop}) {
      height: 500px;
    }
  }

  .elastislide-wrapper {
    box-shadow: none;
    margin-top: 20px;
    margin-left: -20px
  }

  .elastislide-carousel {
    // box-sizing: none !important;
  }

  .elastislide-carousel ul li {
    margin: 0;
    // margin-left: 10px;
    margin-right: 10px;
    padding: 0 0px;
  }

  .elastislide-carousel ul li a img {
    // padding-right: 20px;
    margin-right: 10px;
    border: none;
  }

  .elastislide-next, .elastislide-prev {
    $size: 16px;

    width: $size;
    height: $size;

    background-size: cover !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;

    border-radius: 0 !important;
  }
  
  .elastislide-prev {
    background: url(../images/left.png);
  }

  .elastislide-next {
    background: url(../images/right.png);
  }
}
