a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

header, section, footer {
  margin: 20px 0;
}

section {
  margin: 35px 0;
}

/* Prevent the slideshow from flashing on load */
#slides {
  position: relative;
  z-index: 1;

  display: none;

  @mixin resize($width, $height) {
    @include border-radius(3px);

    width: $width !important;
    height: $height !important;

    .slidesjs-container {
      height: $height !important;
    }

    .slidesjs-control {
      height: $height !important;
    }
  }

  &.in-home-page {
    
  }
}

.statistic-wrap {
  // border: 2px solid #000;
  height: 400px;
}

.statistics {
  position: relative;
  top: 80px;

  width: 100%;

  text-align: center;

  p {
    font-family: 'GillSansMTPro-Light';
    font-size: 18px;

    strong {
      font-family: 'GillSansMTPro-Heavy';
      font-size: 46px;
      display: block;
    }
  }
}

/* Styles specific to this particular page */
.scroll-pane {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.horizontal-only {
  height: auto;
  max-height: 300px;
}

.jspVerticalBar {
  width: 10px;
  background: none;
}

.jspTrack {
  background: #F2F2F2;
  width: 2px;
  margin-left: 3px;
  border-radius: 3px;
}

.jspDrag {
  background: #000;
  width: 8px;
  height: 8px !important;
  border-radius: 8px;
  margin-left: -3px;
}

