$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// PT Sans Caprion
// font-family: 'PT Sans Caption', sans-serif;
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic-ext);

// Panton

@font-face {
  font-family: PantonLightCaps;
  src: url("../fonts/panton/Panton-LightCaps.otf") format("opentype");
}

@font-face {
  font-family: PantonLightCaps-Italic;
  src: url("../fonts/panton/Panton-LightitalicCaps.otf") format("opentype");
}

@font-face {
  font-family: PantonBlacktCaps;
  src: url("../fonts/panton/Panton-BlackCaps.otf") format("opentype");
}

@font-face {
  font-family: PantonBlacktCaps-Italic;
  src: url("../fonts/panton/Panton-BlackitalicCaps.otf") format("opentype");
}

// Gill Sans

@font-face {
  font-family: 'GillSansMTPro-Light';
  src: url('../fonts/gill-sans/GillSansMTPro-Light.eot');
  src: url('../fonts/gill-sans/GillSansMTPro-Light.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/gill-sans/GillSansMTPro-Light.woff') format("woff"), 
  url('../fonts/gill-sans/GillSansMTPro-Light.ttf') format("truetype"), 
  url('../fonts/gill-sans/GillSansMTPro-Light.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansMTPro-LightItalic';
  src: url('../fonts/gill-sans/GillSansMTPro-LightItalic.eot');
  src: url('../fonts/gill-sans/GillSansMTPro-LightItalic.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/gill-sans/GillSansMTPro-LightItalic.woff') format("woff"), 
  url('../fonts/gill-sans/GillSansMTPro-LightItalic.ttf') format("truetype"), 
  url('../fonts/gill-sans/GillSansMTPro-LightItalic.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansMTPro-Medium';
  src: url('../fonts/gill-sans/GillSansMTPro-Medium.eot');
  src: url('../fonts/gill-sans/GillSansMTPro-Medium.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/gill-sans/GillSansMTPro-Medium.woff') format("woff"), 
  url('../fonts/gill-sans/GillSansMTPro-Medium.ttf') format("truetype"), 
  url('../fonts/gill-sans/GillSansMTPro-Medium.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansMTPro-Bold';
  src: url('../fonts/gill-sans/GillSansMTPro-Bold.eot');
  src: url('../fonts/gill-sans/GillSansMTPro-Bold.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/gill-sans/GillSansMTPro-Bold.woff') format("woff"), 
  url('../fonts/gill-sans/GillSansMTPro-Bold.ttf') format("truetype"), 
  url('../fonts/gill-sans/GillSansMTPro-Bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansMTPro-Heavy';
  src: url('../fonts/gill-sans/GillSansMTPro-Heavy.eot');
  src: url('../fonts/gill-sans/GillSansMTPro-Heavy.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/gill-sans/GillSansMTPro-Heavy.woff') format("woff"), 
  url('../fonts/gill-sans/GillSansMTPro-Heavy.ttf') format("truetype"), 
  url('../fonts/gill-sans/GillSansMTPro-Heavy.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

// Web Symbols Font
// http://www.justbenice.ru/studio/websymbols/
@font-face {
  font-family: 'liga';
  src: url('../fonts/symbols/websymbolsligaregular.eot');
  src: url('../fonts/symbols/websymbolsligaregular.eot?#iefix') format("embedded-opentype"), 
  url('../fonts/symbols/websymbolsligaregular.woff') format("woff"), 
  url('../fonts/symbols/websymbolsligaregular.ttf') format("truetype"), 
  url('../fonts/symbols/websymbolsligaregular.svg#WebSymbolsRegular') format("svg");
}