button,
.button {
  text-align: center;
  cursor: pointer;

  // Size
  &.small {
    padding: 3px 7px;
  }
  &.medium {
    padding: 7px 13px;
  }
  &.large {
    padding: 13px 20px;
  }

  // Inline
  &.inline {
    display: inline-block;
  }
  &.block {
    display: block;
  }

  &.black {
    color: #FFF;
    background: #000;
  }

  &.white {
    color: #000 !important;
    background: #FFF;
  }

  // Color and outline
  &.outline {

    &.black {
      background: none;
      border: 1px solid #000;
      color: #000;

      &.main {
        @include bold();
        border: 2px solid;

        &:hover {
          border: 2px solid #000;          
        }
      }

      &:hover, &.active {
        background: #000;
        color: #FFF;
        border: 1px solid #000;
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  outline: none;
  border: 1px solid #000;

  @include thin;
  font-size: 18px;

  padding: 10px 20px;

  width: 100%;
}

textarea {
  outline: none; 
}