body {
  font-family: PantonLightCaps;
  font-size: 14px;
  color: #000;
}

@mixin thin() {
  font-family: PantonLightCaps;
}

@mixin bold() {
  font-family: PantonBlacktCaps;
}

h1 {
  @include bold;
  font-size: 40px;
}

h2 {
  @include bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 3px;
  
  margin-bottom: 40px;
}

h4 {
  @include bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 3px;

  margin-bottom: 20px;

  &.thin {
    @include thin;
  }
}

h5 {
  @include bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;

  margin-bottom: 10px;

  &.thin {
    @include thin;
  }
}

.liga {
  font-family: 'liga';
}