.accents {

  .accent-preview {
    @extend .col-sm-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;

    text-align: center;

    img {
      width: 100%;
    }

    .title {
      @include bold();
      font-size: 14px;

      margin-top: 14px;
    }

    .by {
      @include thin();
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  .accent-empty {
    border: 1px solid #CCC;

    @media (#{$phone}) {
      display: none;
    }

    img {
      opacity: 0;
      width: 100%;
    }
  }
}