.catalog-filter {
  
  .filter-name {
    @include bold();
    font-size: 18px;
    letter-spacing: 2px;

    margin-top: -5px;

    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
  }

  ul {
    margin: 20px 0 40px;
    padding: 0;

    &.all-brands {
      max-height: 310px;
      overflow-y: scroll;
    }

    li {
      list-style-type: none;
      margin: 8px 0;

      a {
        @include thin();
        font-size: 14px;

        &.active, &:hover {
          @include bold();
        }
      }
    }
  }
}
