.catalog-preview {
  @extend .col-xs-12;
  @extend .col-sm-3;
  @extend .col-md-4;
  @extend .col-lg-4;

  text-align: center;
  margin-bottom: 40px;

  &.line {
    @extend .col-xs-12;
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .col-lg-3;
  }
  
  .preview-wrapper {
    min-height: 180px;

    img {
      width: 50%;

      @media (#{$phone}) {
        width: 100%;
      }
    }
  }

  .name {
    @include bold();
    font-size: 14px;
  }

  .designer {
    @include thin();
    font-size: 14px;
    letter-spacing: 1px;
  }

  .price {
    font-family: PT Sans Caption;
    font-size: 24px;
    font-weight: bold;

    .old {
      font-size: 18px;
      opacity: .21;

      display: inline-block;
      position: relative;

      top: -8px;
    }
  }
}
