@import 'catalog-filter';
@import 'catalog-preview';

h1 {
  margin-top: -5px;
  letter-spacing: 3px;
}

.sort-by {
  font-size: 14px;
  margin: 10px 0 40px;

  p {
    display: inline-block;
    margin-right: 20px;
  }

  p.title {
    @include thin();
    opacity: .8;
  }

  p.action {
    @include thin();

    cursor: pointer;

    &.active, &:hover {
      @include bold();
    }
  }
}

.search-brand {
  max-width: 94%;
  padding: 5px 7px !important;
  font-size: 12px !important;

  margin: 3px 0 10px !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
}