footer {

  .black {
    background: #000;
    
    margin-top: 50px;
    padding: 40px 0;

    a {
      color: #FFF !important;

      margin-top: 20px;

      &.info {
        margin-top: 15px;
        display: block;
        font-family: 'PT Sans Caption', sans-serif;
      }

      &.padding-left {
        padding-left: 20px;
        margin-top: 10px;
      }

      &.liga {
        font-size: 36px;

        margin-right: 10px;
      }
    }
  }

  .payments {
    text-align: center;

    margin: 20px 0;

    img {
      width: 200px;
    }
  }
}
