header {
  margin-top: 20px;
  
  span.logo-symbol {
    width: 52px;
    height: 42px;

    background: url(../../svg/logo.svg);
    background-size: cover;

    display: inline-block;

    margin-top: 15px;
    margin-left: 30px;

    @media (#{$phone}) {
      width: 92px;
      height: 76px;
    }
  }

  span.logo-text {
    font-family: 'GillSansMTPro-Heavy';
    font-size: 58px;

    display: inline-block;

    @media (#{$phone}) {
      display: none;
    }
  }

  .auth-basket-search {
    font-family: Arial;
    margin-top: 5px;

    // Desktop large
    @media (min-width: 1200px) {
      margin-top: 2px;
    }
    
    // Desktop medium
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 2px;
    }

    // Tablet
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: -50px;
      text-align: right;
    }
    
    // Mobile
    @media (max-width: 767px) {
      margin-top: 30px;
    }

    a {
      margin-right: 45px;
    }

    .basket {
      width: 30px;
      height: 30px;

      background: url(../../svg/basket.svg);
      background-size: cover;

      display: inline-block;

      .inner {
        margin-top: 10px;
        margin-left: 35px;

        display: inline-block;
        position: relative;
      }
    }

    input[type="text"] {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #CCC;

      width: 100%;
      margin-top: 7px;

      font-size: 12px;
      padding: 3px 7px;
      padding-left: 21px;

      font-family: PT Sans Caption;
    }

    .search-icon {
      @extend .liga;

      color: #CCC;

      position: relative;

      margin-top: -23px;

      width: 10px;
    }
  }

  nav {
    text-align: center;
    margin: 20px 0;

    a {
      @include bold();

      letter-spacing: 4px;

      @media (#{$desktop}) {
        font-size: 20px;
        margin: 0 40px;
      }

      @media (#{$tablet}) {
        font-size: 20px;
        margin: 0 40px;
      }

      @media (#{$phone}) {
        font-size: 16px;
        margin: 0 10px;
      }

      &.sale {
        color: red !important;
      }
    }
  }
}
