.instagram, .pinterest {

  .instagram-logo, .pinterest {
    border: 1px solid #CCC;
    text-align: center;

    padding: 92px 0;

    box-sizing: border-box;

    @media (#{$phone}) {
      border: none;
    }

    span.insta {
      width: 195px;
      height: 168px;
      display: inline-block;

      background: url(../../svg/insta.svg);
      background-size: cover;
    }

    span.pin {
      width: 195px;
      height: 168px;
      display: inline-block;

      background: url(../../svg/pin.svg);
      background-size: cover;
    }
  }

  .instagram-preview, .pinterest-preview {

    img {
      width: 100%;
    }
  }
}