.intro {
  font-family: 'GillSansMTPro-Heavy';
  font-size: 36px;
  line-height: 36px;

  text-align: center;

  padding: 40px 0 30px;
  margin: 30px 0 25px;

  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
