.journal-home {
  margin-top: 55px;
  margin-bottom: 30px;

  img {
    width: 100%;
  }

  .sign {
    position: relative;

    margin-top: -90px;
    margin-left: 20px;

    p {
      color: #FFF;
    }

    p.title {
      @include bold();
      font-size: 24px; 
    }

    p.author {
      font-family: PT Sans Caption;
      font-size: 18px;
    }
  }
}