.non-random-brand-home {

  .red {
    color: red;
  }

  img.logo {
    // margin-top: 15px;
    width: 70%;
  }

  p.about {
    font-size: 16px;
    font-family: PT Sans Caption;

    margin: 30px 0;
  }
}