.pagination {
  text-align: center;

  a {
    @include bold();

    display: inline-block;
    margin: 0 5px;

    &.next, &.show-more {
      @extend .button;
      @extend .outline;
      @extend .black;
      @extend .inline;
      @extend .large;

      margin: 0 20px;
    }

    &.show-more {
      margin-right: 40px;
    }

    &.view-all {
      // 
    }
  }
}
