.top-image {
  overflow: hidden;

  height: 560px;

  @media (#{$phone}) {
    height: 300px;
  }

  &:hover {
    .to-left, .to-right {
      opacity: .8;
    }
  }

  .carousel {
    width: 100%;

    .wrap {
      width: 100%;
      position: relative;

      .slide {
        float: left;
        opacity: 0;

        position: absolute;

        left: 0;
        top: 0;

        &:first-child {
          opacity: 1;
        }
      }
    }
  }

  .to-left, .to-right {
    width: 40px;
    height: 90px;

    position: absolute;
    display: none;

    z-index: 9;

    background: #FFF;

    opacity: .3;

    cursor: pointer;

    padding-top: 15px;

    font-size: 40px;
    color: #000;

    &:hover {
      opacity: 1;
    }

    // Desktop large
    @media (min-width: 1200px) {
      top: 290px;
    }
    
    // Desktop medium
    @media (min-width: 992px) and (max-width: 1199px) {
      top: 240px;
    }

    // Tablet
    @media (min-width: 768px) and (max-width: 991px) {
      top: 200px;
    }
    
    // Mobile
    @media (max-width: 767px) {
      top: 120px;
    }
  }

  .to-left {
    left: 25px;

    // Tablet
    @media (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
    
    // Mobile
    @media (max-width: 767px) {
      display: none;
    }
  }

  .to-right {
    right: 25px;
  }
  
  // img not show
  // img src insert to `.top-image`
  img {
    // display: none;
  }
  
  // use on home page
  .container {
    display: none;
    position: fixed;
    // position: absolute;

    left: 10px;

    z-index: 1;

    &:first-child {
      display: block;
    }

    // Desktop large
    @media (min-width: 1200px) {
      top: 310px;
    }
    
    // Desktop medium
    @media (min-width: 992px) and (max-width: 1199px) {
      top: 260px;
    }

    // Tablet
    @media (min-width: 768px) and (max-width: 991px) {
      top: 120px;
    }
    
    // Mobile
    @media (max-width: 767px) {
      top: 100px;
    }
  }
}